<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>KinoTick - покупа билетов</title>
    <link rel=" stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">

</head>

<body>

    <header class="header__top">
        <div class="container">
            <div class="header__inner__top">
                <div class="header__logo">
                    <a href="/">KINOTICK</a>
                </div>
                <nav class="header__nav nav">
                    <ul class="nav__inner">
                        <li class="nav__link">
                            <a href="about">About Us</a>
                        </li>
                        <li class="nav__link">
                            <a href="signup" target="_blank">Sign Up</a>
                        </li>
                        <li class="nav__link">
                            <a href="signup" target="_blank">Login</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="header__bottom">
        <div class="container">
            <div class="header__inner__bottom">
                <form action="">
                    <select name="city" id="city">
                        <option value="Nur-Sultan" selected>Nur-Sultan</option>
                        <option value="Almaty">Almaty</option>
                        <option value="Kokshetau">Kokshetau</option>
                        <option value="Shymkent">Shymkent</option>
                    </select>
                </form>

                <form action="">
                    <select name="adress" id="adress">
                        <option value="Kabanbay" selected>Kabanbay</option>
                        <option value="Momyshuly">Momyshuly</option>
                        <option value="Mangilik">Mangilik</option>
                    </select>
                </form>

                <form action="">
                    <select name="film" id="film">
                        <option value="Spider-man 2" selected>Spider-man 2</option>
                        <option value="Morbius">Morbius</option>
                        <option value="Sonic">Sonic</option>
                    </select>
                </form>

                <button class="btn">Buy tickets</button>
            </div>
        </div>
    </div>


    <main class="films">
        <div class="container">
            <div class="films__header">
                <h2>Сегодня в кино <span>|</span></h2>
                <p>Скоро на экранах</p>
            </div>
            <div class="films__inner">
                <%if(film != '') {%>
                <%film.forEach(element => {%>
                <div class="film__info">
                    <div class="card__info">
                        <img src="<%=element.img%>" alt="" class="card__image">
                        <p class="card__name"><%=element.title%></p>
                    </div>
                    <button class="btn btn-schedule">Schedule</button>
                </div>
                <%})%>
                <%}else{%>
                <h6>List is empty</h6>
                <%}%>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                Все права защищены
            </div>
        </div>
    </footer>

    <script src="scripts/index.js"></script>
</body>

</html>