@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
   margin: 0;
   font-size: 16px;
   font-family: 'Montserrat', sans-serif;
   background-color: rgb(255, 255, 255);
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
   margin: 0;
}

ul {
   list-style-type: none;
}

a {
   text-decoration: none;
   text-transform: uppercase;
   color: black;
   transition: all linear 0.15s;
}

a:hover {
   color: #D32F2F;
}

form {
   align-items: center;
}

.container {
   width: 100%;
   max-width: 990px;
   margin: 0 auto;
   padding: 0 15px;
}

/*HEADER TOP*/

.header__top {
   height: 60px;
}

.header__inner__top {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 0;
}

.header__logo {
   font-size: 30px;
   font-weight: 700;
}

/*NAV*/

.nav__inner {
   display: flex;
}

.nav__link {
   margin-left: 20px;
   font-size: 18px;
   font-weight: 600;
}

/*BUTTON*/

.btn {
   padding: 10px 20px;
   border: 1px solid #D32F2F;
   border-radius: 4px;
   color: white;
   text-transform: uppercase;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   background-color: #D32F2F;
   transition: all linear 0.15s;
}



button:hover {
   background-color: #F44336;
}